body {
    background-color: lightgray;
  }
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }
  
  h2 {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 2px;
    color: darkblue;
  }

  form {
    display: flex;
    color: rgb(2, 24, 37);
    font-size: 18px;
    flex-direction: column;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 20px 10px;
    border-radius: 5px;
    border: 1px;
    border-style: groove;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.14), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  button {
    background-color: whitesmoke;
    color: rgb(2, 24, 37);
    border: 2px solid rgb(71, 130, 167);
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    opacity: 0.75;
  }
  
  .heading {
    background-color: rgb(10, 10, 10);
    padding: 20px 10px 20px 10px;
    color: white;
  }
  
  .top {
    background-color: lightgray;
    color: rgb(3, 3, 114);
  }
  
  .main {
    background-color: rgb(71, 130, 167);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
  }
  
#character-selector {
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: top;
    align-content: center;
    padding-top: 10px;
}

  #player-area {
   
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: top;
    align-content: center;
    padding-top: 10px;
  }
  
  #bot-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: top;
    align-content: center;
    padding-top: 10px;
  }


  .submit {
    background-color: whitesmoke;
    color: blue;
    border: 2px solid blue;
    font-size: 14px;
    padding: 5px 1px 5px 1px;
    margin: 1px;
    border-radius: 5px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    opacity: 0.75;
  }
    
  .log-game {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 1px;
  }
  
  #game-area {
    /* background-image: url('https://cdn.wallpapersafari.com/38/0/tNfnSd.png') ; */
    overflow: hidden;
    position: relative;
    width: 900px;
    border: 3px solid black;
    border-style: double;
    /* padding: 5px 000px 50px 5px; */
    margin: 30px 30px 30px 30px;
  }
  .game-board-img {
    position: absolute;
    left: 20;
    top: 20;
    width: 105%;
    height: auto;
    background-color: rgb(253, 253, 253);
    opacity: 0.7;
  }
  
  .game-content {
    position: relative;
    color: rgb(19, 70, 102);
    font-size: 32px;
  }
  
  .game-status {
    margin: 10px;
  }
  
  #player-area {
    display: flex;
    padding-left: 40px;
  }
  
  #bot-area {
    display: flex;
    padding-left: 40px;
  }
  
  #game-actions {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: flex-start;
    margin-left: 80px;
    margin-top: 10px;
    font-style: italic;
  }
  